{% comment %}
  Renders the cart drawer upsell slider.

  Accepts:
  - upsell_items: {String} HTML for upsell slides
  - upsell_count: {Number} Total slides
{% endcomment %}

<div class="cart-drawer-upsell">
  <h3 class="cart-drawer-upsell__heading h4">
    {{ 'sections.cart.upsell_heading' | t }}
  </h3>

  <slider-component class="cart-drawer-upsell__slider">
    <ul
      id="Slider-CartDrawerUpsell"
      class="slider slider--everywhere cart-drawer-upsell__track list-unstyled"
      role="list"
      {% if upsell_count > 1 %}
        aria-label="{{ 'general.slider.name' | t }}"
      {% endif %}
    >
      {{ upsell_items }}
    </ul>

    <div class="slider-buttons cart-drawer-upsell__buttons{% if upsell_count < 2 %} hidden{% endif %}">
      <button
        type="button"
        class="slider-button slider-button--prev"
        name="previous"
        aria-label="{{ 'general.slider.previous_slide' | t }}"
        aria-controls="Slider-CartDrawerUpsell"
      >
        <span class="svg-wrapper">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>
      <div class="slider-counter caption">
        <span class="slider-counter--current">1</span>
        <span aria-hidden="true"> / </span>
        <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
        <span class="slider-counter--total">{{ upsell_count }}</span>
      </div>
      <button
        type="button"
        class="slider-button slider-button--next"
        name="next"
        aria-label="{{ 'general.slider.next_slide' | t }}"
        aria-controls="Slider-CartDrawerUpsell"
      >
        <span class="svg-wrapper">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>
    </div>
  </slider-component>
</div>
