{% comment %}
  Renders upsell products as a carousel in the cart drawer.

  Accepts:
  - products: {Array} Product list to render
  - limit: {Number} Maximum products to show
{% endcomment %}

{%- liquid
  assign upsell_limit = limit | default: settings.cart_drawer_upsell_limit | default: 4
  assign slide_count = 0
-%}

{%- capture upsell_slides -%}
  {%- for product in products -%}
    {%- if slide_count >= upsell_limit -%}
      {%- break -%}
    {%- endif -%}

    {%- assign product_in_cart = false -%}
    {%- for item in cart.items -%}
      {%- if item.product_id == product.id -%}
        {%- assign product_in_cart = true -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if product_in_cart == false and product.available -%}
      {%- assign slide_count = slide_count | plus: 1 -%}
      <div
        id="Slide-CartDrawerUpsell-{{ slide_count }}"
        class="slider__slide cart-drawer-upsell__slide"
        tabindex="-1"
        role="group"
        aria-roledescription="{{ 'sections.slideshow.slide' | t }}"
      >
        {% render 'cart-drawer-upsell-item', product: product %}
      </div>
    {%- endif -%}
  {%- endfor -%}
{%- endcapture -%}

{%- if slide_count > 0 -%}
  <div class="cart-drawer-upsell">
    <div class="cart-drawer-upsell__header">
      <h3 class="cart-drawer-upsell__heading h4">
        {{ 'sections.cart.upsell_heading' | t }}
      </h3>
    </div>

    <slider-component class="cart-drawer-upsell__slider">
      <div
        id="Slider-CartDrawerUpsell"
        class="slider slider--everywhere cart-drawer-upsell__track"
        role="list"
        {% if slide_count > 1 %}
          aria-label="{{ 'general.slider.name' | t }}"
        {% endif %}
      >
        {{ upsell_slides }}
      </div>

      {%- if slide_count > 1 -%}
        <div class="slider-buttons cart-drawer-upsell__controls no-js-hidden">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>
          <div class="slider-counter slider-counter--counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ slide_count }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>
        </div>
      {%- endif -%}
    </slider-component>
  </div>
{%- endif -%}
